@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
    margin:0 !important;
    padding: 0 !important;

}

:root {
  --primary-color: #124e56;
  --primary-light-10: #2f6870;
  --primary-light-20: #4b828a;
  --primary-light-30: #689ca4;
  --primary-light-40: #85b6bd;
  --primary-light-50: #a2d0d7;
  --primary-light-60: #bfebf1;
  --primary-light-70: #dbf9fb;
  --primary-light-80:#f0ffff;
}

.title-text-bold {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.base-input {
  width: 100% !important;
}

.base-input-label {
  display: block !important;
  margin-bottom: 10px !important;
  color: #666 !important;
  font-size: 14px !important;
}

.base-input input {
  padding: 12px 16px !important;
  font-size: 15px !important;
}