@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: 'Inter', sans-serif !important;
}

.title-text-bold {
    font-size: 16px !important;
    font-weight: 500 !important;
}